@media only screen and (max-width: 767px) {
    *{
        text-align: left;
    }
}

html {
    scroll-behavior: smooth;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

a,
a:hover,
a:visited {
    color: inherit;
}


.customClass {
    margin-bottom: 30px;
    padding: 1.5em;
    -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    text-align: center;
   }
  .customClass .icon2 {
      display: block;
      margin-bottom: 20px; }
  .customClass .icon2 i {
        font-size: 30px;
        color: #2c98f0; }
  .customClass h3 {
      font-family: "Quicksand", Arial, sans-serif;
      font-size: 16px;
      font-weight: 500; }
  .customClass.color-2 {}
      .customClass.color-2 .icon2 i {
        color: #ec5453; }
    .customClass.color-3 {}
      .customClass.color-3 .icon2 i {
        color: #f9bf3f; }
    .customClass.color-4 {}
      .customClass.color-4 .icon2 i {
        color: #a84cb8; }
    .customClass.color-5 {}
    .customClass.color-6 {}
  
  .customClass {
    margin-bottom: 80px;
    position: relative;
    z-index: 0; }
    @media screen and (max-width: 768px) {
      .customClass {
        margin-bottom: 4em; } }
  .customClass .icon {
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      width: 100px;
      height: 50px;
      display: table;
      margin: 0 auto;
      background: #2c98f0; }
  .customClass .icon:before, .customClass .icon:after {
        position: absolute;
        left: 0;
        right: 0;
        content: ''; }
  .customClass .icon:before {
        top: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 50px 30px 50px;
        border-color: transparent transparent #2c98f0 transparent; }
  .customClass .icon:after {
        bottom: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 50px 0 50px;
        border-color: #2c98f0 transparent transparent transparent; }
  .customClass .icon i {
        font-size: 30px;
        color: #fff;
        z-index: 1;
        display: table-cell;
        vertical-align: middle; }
  .customClass .desc {
      margin-top: 60px; }
  .customClass .desc h3 {
    font-size: 16px;
        font-weight: 700;
        text-transform: uppercase; }
  .customClass.color-2 .icon {
      background: #ec5453; }
  .customClass.color-2 .icon:before {
        border-color: transparent transparent #ec5453 transparent; }
  .customClass.color-2 .icon:after {
        border-color: #ec5453 transparent transparent transparent; }
  .customClass.color-3 .icon {
     background: #f9bf3f; }
  .customClass.color-3 .icon:before {
        border-color: transparent transparent #f9bf3f transparent; }
  .customClass.color-3 .icon:after {
        border-color: #f9bf3f transparent transparent transparent; }
  .customClass.color-4 .icon {
      background: #a84cb8; }
  .customClass.color-4 .icon:before {
        border-color: transparent transparent #a84cb8 transparent; }
  .customClass.color-4 .icon:after {
        border-color: #a84cb8 transparent transparent transparent; }
  .customClass.color-5 .icon {
      background: #2fa499; }
  .customClass.color-5 .icon:before {
        border-color: transparent transparent #2fa499 transparent; }
  .customClass.color-5 .icon:after {
        border-color: #2fa499 transparent transparent transparent; }
  .customClass.color-6 .icon {
      background: #4054b2; }
  .customClass.color-6 .icon:before {
        border-color: transparent transparent #4054b2 transparent; }
  .customClass.color-6 .icon:after {
        border-color: #4054b2 transparent transparent transparent; }